.App {
  min-height: 100vh;
  background-color: teal;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.col1 {
  position: relative;
  left: 68%;
}

.col2 {
  position: relative;
  left: 10%;
}

.col3 {
  position: relative;
  left: 10%;
  font-weight: bold;
}

.col4 {
  position: relative;
  left: 10%;
  padding-top: 20px;
}

.col5 {
  position: relative;
  left: 10%;
}

.col6 {
  position: relative;
  left: 10%;
}

.col7 {
  position: relative;
  left: 10%;
  padding-top: 100px;
}

.col8 {
  position: relative;
  left: 10%;
  padding-top: 100px;
  font-weight: bold;
}

.col9 {
  position: relative;
  left: 25%;
}

.col10 {
  position: relative;
  left: 10%;
  padding-top: 100px;
}

.col11 {
  position: relative;
  left: 65%;
  padding-top: 120px;
  font-weight: bold;
}

.col12 {
  position: relative;
  left: 65%;
  padding-top: 120px;
  font-weight: bold;
}

.col13 {
  position: relative;
  left: 65%;
  font-weight: bold;
}

.col14 {
  position: relative;
  left: 10%;
}

.col15 {
  position: relative;
  left: 10%;
}

/* @page :first {
  margin: 2cm 2cm;
} */
