@media screen and (max-width: 2048px) {
  h1 {
    color: #757575;
    font-size: 100px;
    padding-left: 15%;
    padding-top: 10%;
  }

  h3 {
    font-size: 70px;
    padding-left: 15%;
    padding-top: 0%;
  }

  .button {
    margin-left: 15%;
    margin-top: 2%;
    background-color: #6c63ff;
    padding: 10px 40px;
  }

  .kjmis-icon {
    width: 8%;
    position: absolute;
    left: 150px;
    top: 180px;
    border-radius: 50%;
  }

  .sjs-icon {
    width: 5%;
    position: absolute;
    left: 400px;
    top: 180px;
  }

  .paper {
    position: absolute;
    left: 100px;
  }
  .row {
    padding-top: 12%;
  }

  .col-1 {
    /* background-color: blue; */
  }

  .col-2 {
    /* background-color: orange; */
  }
}

@media screen and (max-width: 1366px) {
  h1 {
    color: teal;
    font-size: 65px;
    padding-left: 22%;
    padding-top: 10%;
  }

  h3 {
    font-size: 50px;
    padding-left: 22%;
    padding-top: 0%;
  }

  .button {
    margin-left: 22%;
    margin-top: 2%;
    background-color: #6c63ff;
    padding: 5px 20px;
  }

  .kjmis-icon {
    width: 120px;
    position: absolute;
    left: 150px;
    top: 100px;
  }

  .sjs-icon {
    width: 80px;
    position: absolute;
    left: 330px;
    top: 100px;
  }

  .paper {
    width: 30%;
  }

  .image {
    width: 80%;
  }

  .row {
    padding-top: 12%;
  }

  .col-1 {
    /* background-color: blue; */
  }

  .col-2 {
    /* background-color: orange; */
  }
}

@media screen and (max-width: 1080px) {
  h1 {
    color: orange;
  }
}

@media screen and (max-width: 780px) {
  .paper {
    width: 60%;
    position: absolute;
    left: 10%;
  }

  h1 {
    font-size: 40px;
    padding-left: 15%;
  }

  h3 {
    font-size: 30px;
    padding-left: 15%;
  }

  .button {
    padding: 3px 10px;
    margin-left: 15%;
  }

  .kjmis-icon {
    position: relative;
    left: 15%;
    top: 50px;
    width: 20%;
  }

  .sjs-icon {
    position: relative;
    left: 25%;
    top: 50px;
    width: 50px;
  }

  .row {
    padding-top: 5%;
  }

  .image {
    position: relative;
    left: 50px;
    top: 50%;
  }
}
