.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.head-container {
  justify-content: center;
  text-align: left;
}
.logo {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
}
.tittle {
  font-weight: bold;
  font-size: larger;
}
.nav-button {
  margin-left: 5spx;
  margin-right: 5px;
}
.floatright {
  float: right;
}
